# Python
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Outputs grandes
analisis/*.png
analisis/*.pdf
analisis/cache/

# Datos sensibles
.env
*.key
secrets.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
